@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- Favicon -->
    <link href="/estilos/img/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/estilos/lib/slick/slick.css" rel="stylesheet">
    <link href="/estilos/lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/estilos/css/style.css" rel="stylesheet">
</head>


<h2 style="text-align:center">¡Bienvenido a AOA!</h2>
<br>

<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <nav class="navbar bg-light">

                </nav>
            </div>
            <div class="col-md-6">
                <div class="header-slider normal-slider">
                    <div class="header-slider-item">
                        <img src="/estilos/img/slider-1.jpg" alt="Slider Image" />
                        <div class="header-slider-caption">
                            <p>¡Encuentra tus marcas favoritas!</p>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Compra ahora</a>
                        </div>
                    </div>
                    <div class="header-slider-item">
                        <img src="/estilos/img/slider-2.jpg" alt="Slider Image" />
                        <div class="header-slider-caption">
                            <p>Llévalas a todas partes</p>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Compra ahora</a>
                        </div>
                    </div>
                    <div class="header-slider-item">
                        <img src="/estilos/img/slider-3.jpg" alt="Slider Image" />
                        <div class="header-slider-caption">
                            <p>Compra inteligente, compra con nosotros</p>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Compra ahora</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<h3 style="text-align:center">Algunas de las marcas con las que colaboramos son:</h3>

<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="/estilos/img/brand-1.png" alt=""></div>
            <div class="brand-item"><img src="/estilos/img/brand-2.png" alt=""></div>
            <div class="brand-item"><img src="/estilos/img/brand-3.png" alt=""></div>
            <div class="brand-item"><img src="/estilos/img/brand-4.png" alt=""></div>
            <div class="brand-item"><img src="/estilos/img/brand-5.png" alt=""></div>
            <div class="brand-item"><img src="/estilos/img/brand-6.png" alt=""></div>
        </div>
    </div>
</div>


<div class="feature">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fab fa-cc-mastercard"></i>
                    <h2>Pago seguro</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur elit
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-truck"></i>
                    <h2>Envío rápido</h2>
                    <p>
                        Somos líderes en Drop-Shipping
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-sync-alt"></i>
                    <h2>Se aceptan devoluciones</h2>
                    <p>
                        ¿No es lo que esperabas? No te preocupes
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-comments"></i>
                    <h2>Buen soporte</h2>
                    <p>
                        Siempre atentos a tu llamado
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="/estilos/img/category-3.jpg" />
                    <a class="category-name" href="">
                        <p>Encuentra tus marcas favoritas ya</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-250">
                    <img src="/estilos/img/category-4.jpg" />
                    <a class="category-name" href="">
                        <p>Maquillaje</p>
                    </a>
                </div>
                <div class="category-item ch-150">
                    <img src="/estilos/img/category-5.jpg" />
                    <a class="category-name" href="">
                        <p>Accesorios</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-150">
                    <img src="/estilos/img/category-6.jpg" />
                    <a class="category-name" href="">
                        <p>Productos de belleza</p>
                    </a>
                </div>
                <div class="category-item ch-250">
                    <img src="/estilos/img/category-7.jpg" />
                    <a class="category-name" href="">
                        <p>Accesorios para varón</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="/estilos/img/category-8.jpg" />
                    <a class="category-name" href="">
                        <p>Vestidos</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="call-to-action">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>¿Alguna duda? ¡Llámanos!</h1>
            </div>
            <div class="col-md-6">
                <a href="tel:0123456789">+519-345-6789</a>
            </div>
        </div>
    </div>
</div>

<!-- Galeria -->
<div class="featured-product product">
    <div class="container-fluid">
        <div class="section-header">
            <h1>Galería</h1>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            @if (ViewBag.galeria.Count > 0)
            {
                foreach (var producto in ViewBag.galeria)
                {
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">@producto.descripcion</a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="@producto.imagen" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3><span>$</span>@producto.precio</h3>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Comprar</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="well text-center">
                    No hay productos en nuestra Galería.
                </div>
            }
        </div>
    </div>
</div>

<!-- Datos -->
<div class="newsletter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Escríbenos</h1>
            </div>
            <div class="col-md-6">
                <div class="form">
                    <input type="email" value="Your email here">
                    <button>Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Recientes -->
<div class="recent-product product">
    <div class="container-fluid">
        <div class="section-header">
            <h1>Recientes</h1>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            @if (ViewBag.recientes.Count > 0)
            {
                foreach (var productoReciente in ViewBag.recientes)
                {
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">@productoReciente.descripcion</a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="@productoReciente.imagen" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3><span>$</span>@productoReciente.precio</h3>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Comprar</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="well text-center">
                    No hay Productos Recientes.
                </div>
            }
        </div>
    </div>
</div>

<!-- Reviews clientes -->
<div class="review">
    <div class="container-fluid">
        <div class="row align-items-center review-slider normal-slider">
            <div class="col-md-6">
                <div class="review-slider-item">
                    <div class="review-img">
                        <img src="/estilos/img/review-1.jpg" alt="Image">
                    </div>
                    <div class="review-text">
                        <h2>Dana Paola</h2>
                        <h3>Maquillista</h3>

                        <p>
                            Los productos de maquillaje de AOA son de tan alta calidad que no los cambiaría por nada
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="review-slider-item">
                    <div class="review-img">
                        <img src="/estilos/img/review-2.jpg" alt="Image">
                    </div>
                    <div class="review-text">
                        <h2>Andrés López</h2>
                        <h3>Diseñador</h3>
                        <div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>
                            Compré todas las herramientas para mi trabajo en AOA, son los mejores.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="review-slider-item">
                    <div class="review-img">
                        <img src="/estilos/img/review-3.jpg" alt="Image">
                    </div>
                    <div class="review-text">
                        <h2>Mariana Lomeli</h2>
                        <h3>Escritora</h3>
                        <div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>
                            La ropa de mis marcas favoritas está en un solo lugar, ¡Gracias AOA!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- JavaScript Libraries -->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="/estilos/lib/easing/easing.min.js"></script>
<script src="/estilos/lib/slick/slick.min.js"></script>

<!-- Template Javascript -->
<script src="/estilos/js/main.js"></script>


